In [1]:
import pandas as pd
import numpy as np

In [3]:
dataFrame = pd.read_excel("maas.xlsx")

In [4]:
dataFrame

  Unnamed: 0  Maas   Yas  Departman
0      Recep   100  40.0    Yazılım
1     Zeynep   150  50.0      Satış
2     Mehmet   200  30.0        NaN
3      Ahmet    50  10.0  Pazarlama
4      Atlas   150   NaN     Finans
5      Fatma   200  25.0      Hukuk

In [7]:
doluDegerlerDataFrame = dataFrame.dropna() # bos olanları attı

In [10]:
doluDegerlerDataFrame

  Unnamed: 0  Maas   Yas  Departman
0      Recep   100  40.0    Yazılım
1     Zeynep   150  50.0      Satış
3      Ahmet    50  10.0  Pazarlama
5      Fatma   200  25.0      Hukuk

In [9]:
doluDegerlerDataFrame.to_excel("yenimaas.xlsx") # excel'e yaz, yeni excel

In [ ]:
## csv'ler için
## read_csv
## to_csv